<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         defaultTestSuite="Unit"
         colors="true"
         cacheDirectory="tests/.phpunit.cache"
         failOnWarning="true"
         failOnNotice="true"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/IntegrationTestCase.php</exclude>
            <exclude>tests/Integration/IsolatedDbTestCase.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>config</directory>
        </include>
    </source>
</phpunit>
